<section class="w-full bg-white dark:bg-black py-8 md:py-20" id="works">
  <div class="max-w-2xl mx-auto px-2 md:px-4 text-center">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-extrabold text-gray-800 dark:text-white text-center uppercase mb-12 md:mb-16">WORKS</h2>
    <p class="text-sm md:text-base lg:text-lg text-gray-600 dark:text-gray-300 text-center mb-4">Coming Soon...</p>
  </div>
</section>
